{% extends "base_layout.html" %} {% block title %}Main{% endblock %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Messkluppe</h1>
        </div>
		
		<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-signal fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="ping">0</div>
                                    <div>µs</div>
                                </div>
                            </div>
                        </div>
                        <a href="chart_ping">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <button type="button" class="btn btn-default btn-circle" id="file_list" ><i class="fa fa-refresh"></i></button> 
                                    <span class="huge" id="g_clip_files">0</span>

                                    <div>Log files</div>
                                </div>
                            </div>
                        </div>
                        <a href="/file_list_show">
                            <div class="panel-footer">
                                <span class="pull-left">Show</span>
                                <span class="pull-right"><i class="fa fa-th-list"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="font-size:15px">
										<input type="checkbox" class="toggle-switch" id="start_logging">
									</div>
                                    <div>Start logging</div>
                                </div>
                            </div> 
                        </div>
                        <a href="/">
                            <div class="panel-footer">
                                <span class="pull-left">Refresh</span>
                                <span class="pull-right"><i class="fa fa-refresh"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Info Panel
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">Send Clip Modus: </div>
                                <div class="col-xs-2" id="g_clip_modus_pi">0</div>
                                <div class="col-xs-2"><button type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" title="Reset Clip Modus to 0" id="reset_send_clip_modus"><i class="fa fa-times"></i></button></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Received Clip Modus: </div>
                                <div class="col-xs-2" id="g_clip_modus_ad">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
            </div>
		
    </div>
		{% block extra %} {% endblock %}
	</div>
<script>

		$.getJSON("/get_globals", function(result){

			if (result.g_clip_modus == 20) {

				$('#start_logging').prop('checked', true).change()
			}
		});

	
	$(document).ready(function(){
		setInterval(function(){
            $.getJSON("/get_globals", function(result){
                $("#ping").text(result.g_ping);
                $("#g_clip_modus_pi").text(result.g_clip_modus_pi);
                $("#g_clip_modus_ad").text(result.g_clip_modus_ad);
                $("#g_clip_files").text(result.g_clip_files);
            })
		}, 1000);
	});
    $('#reset_send_clip_modus').click(function() {
        $.get("/reset_send_clip_modus");
        });
    $('#file_list').click(function() {
        $.get("/file_list");
        });
        
     


	$('#start_logging').change(function() {
		if($(this).prop('checked')){
			$.get("/start_logging");
		} else {
			$.get("/stop_logging");
		}
	});

		
	</script>
	


{% endblock %}
