{% extends "base_layout.html" %} {% block title %}Messkluppe{% endblock %} 
{% block page_title %}Messkluppe{% endblock %}
{% block content %}

		<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-signal fa-5x"></i>
                                </div>
                                <div class="col-xs-3 text-right" data-toggle="tooltip" title="Time between last two packages recived by the clip">
                                    <div class="huge" id="com_ping">0</div>
                                    <div>ms</div>
                                </div>
                                <div class="col-xs-3 text-right" data-toggle="tooltip" title="Sucessfully transfered packages">
                                    <div class="huge" id="com_success">0</div>
                                    <div>%</div>
                                </div>
                                <div class="col-xs-3 text-right" data-toggle="tooltip" title="Time between last two packages recived by the Raspberry">
                                    <div class="huge" id="com_noMsg">0</div>
                                    <div>s</div>
                                </div>
                            </div>
                        </div>
                        <a href="chart_ping">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <span class="huge" id="online_files_len">0</span>
                                    <div>Local</div>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <span class="huge" id="online_files_len">0</span>
                                    <div>Online</div>
                                </div>
                            </div>
                        </div>
                        <a href="/online_files">
                            <div class="panel-footer">
                                <span class="pull-left">Show</span>
                                <span class="pull-right"><i class="fa fa-th-list"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="font-size:15px">
										<input type="checkbox" class="toggle-switch" id="start_logging">
									</div>
                                    <div>Start logging</div>
                                </div>
                            </div> 
                        </div>
                        <a href="/live_data">
                            <div class="panel-footer">
                                <span class="pull-left">Live Data</span>
                                <span class="pull-right"><i class="fa fa-eye"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Info Panel
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">Send Clip Modus: </div>
                                <div class="col-xs-2" id="mode_pi">0</div>
                                <div class="col-xs-2"><button type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" title="Reset Clip Modus to 0" id="reset_send_clip_modus"><i class="fa fa-times"></i></button></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Received Clip Modus: </div>
                                <div class="col-xs-2" id="mode_ad">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Received Lines: </div>
                                <div class="col-xs-2" id="dl_len">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Live X: </div>
                                <div class="col-xs-2" id="live_x">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Live Y: </div>
                                <div class="col-xs-2" id="live_y">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Live Z: </div>
                                <div class="col-xs-2" id="live_z">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Download_finished: </div>
                                <div class="col-xs-2" id="dl_finished">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Download_started: </div>
                                <div class="col-xs-2" id="dl_started">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">Download_successfull: </div>
                                <div class="col-xs-2" id="dl_successfull">0</div>
                                <div class="col-xs-2"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
            </div>
		
    </div>
		{% block extra %} {% endblock %}
	</div>
<script>

		$.getJSON("/get_globals", function(result){

			if (result.g_clip_modus == 20) {

				$('#start_logging').prop('checked', true).change()
			}
		});
        


	
	$(document).ready(function(){
		setInterval(function(){
            $.getJSON("/get_globals", function(result){
                $("#com_ping").text(result.com_ping);
                $("#com_success").text(result.com_success);
                $("#com_noMsg").text(result.com_noMsg);
                $("#mode_pi").text(result.mode_pi);
                $("#mode_ad").text(result.mode_ad);
                $("#online_files_len").text(result.online_files.length);
                $("#dl_len").text(result.dl_len);
                $("#live_x").text(result.live_x);
                $("#live_y").text(result.live_y);
                $("#live_z").text(result.live_z);
                $("#dl_finished").text(result.dl_finished);
                $("#dl_started").text(result.dl_started);
                $("#dl_successfull").text(result.dl_successfull);
            })
		}, 250);
        $('[data-toggle="tooltip"]').tooltip()
	});
    $('#reset_send_clip_modus').click(function() {
        $.get("/reset_send_clip_modus");
        });
           
     


	$('#start_logging').change(function() {
		if($(this).prop('checked')){
			$.get("/start_logging");
		} else {
			$.get("/stop_logging");
		}
	});

		
	</script>
	


{% endblock %}
