{% extends "base_layout.html" %}
{% block page_title %}Local File{% endblock %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
	


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{file}}</div>
                <div class="chart-container" style="height: 550px;">
                    <div id="graphdiv2" style="width:100%; height:550px;"></div>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
         [
            {% for row in data %}
                [new Date({{row[1]|int * 1000 + row[2]|int}}), {{row[4]}}, {{row[5]}}, {{row[6]}}, {{row[4]}}], {% endfor %}
              ],
              {
                labels: ['Date', 'X', 'Y', 'Z', '?'],
                legend: 'always',
                animatedZooms: true,
                axis : {
                        x : {
                            valueFormatter: Dygraph.dateString_,
                            ticker: Dygraph.dateTicker
                        }
                }
              }
              
              
              
              );
</script>
{% endblock %}