{% extends "index.html" %}
{% block page_title %}Messkluppe - Online Files{% endblock %}

{% block extra %}

<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                File List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="online_files">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Size(byte)</th>
                                <th>Number of Lines</th>
                                <th>DEL</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in g_buffer %}
                            <tr>
                                <td>{{file[3]}}</td>
                                <td>{{file[4]}}.csv</td>
                                <td>{{file[5]}}</td>
                                <td>{{file[6]}}</td>
                                <td>
                                    {% if file[1]['complete'] %}
                                        <a href="/file_show/{{file[4]}}"><button type="button" class="btn btn-info btn-circle" onclick=""><i class="fa fa-bar-chart-o"></i></button></a>
                                        <a href="{{ url_for('serveStaticResource', resource='_csv/'+file[4]|string+'.csv' )}}" target="_blank"><img src="{{ url_for('serveStaticResource', resource='images/icons8-csv-26.png')}}"></a>
                                    {% else %}
                                        <button type="button" class="btn btn-info btn-circle" onclick="$.get('/file_download/{{file[4]}}/{{file[6]}}');"><i class="fa fa-download"  ></i></button>
                                    {% endif %}
                                </td>
                        
                                <td><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button></td>
                                <td><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button></td>
                            </tr>
                        {% endfor %}
  
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
   
</div>
<script>
$(window).ready(function(){
    intervalId = setInterval(function(){
        $.getJSON("/get_globals", function(result){
            if (result.g_download_finished == true){
                result.g_clip_files.forEach(function(e) {
                    $('#online_files').append(
                    '<tr><td>'+
                        e[3]+
                    '</td><td>'+
                        e[4]+
                    '</td><td>'+
                        e[5]+
                    '</td><td>'+
                        e[6]+
                    '</td><td>'+
                        'link-DEL'+
                    '</td><td>'+
                        '<button type="button" class="btn btn-info btn-circle" onclick='+
                            "$.get('"+
                            '/file_download/'+
                            e[4]+
                            '/'+
                            e[6]+
                            "');"+
                            '><i class="fa fa-download"></i></button></td></tr>');
                    
                    console.log(e);
                });
                console.log("download finished");
                clearInterval(intervalId);
                console.log(result);
                
            }
        
        })
    }, 1000);
});
</script>



{% endblock %}